<header-bar title="'back'" route="car.lastState"></header-bar>

<div class="container car">

  <div class="col-xs-12">
    <div class="row item">
      <div class="col-xs-4">
        <img src="{{car.carpool.owner.image}}" ui-sref="profile({userId: car.carpool.owner._id})" class="img-responsive photo" alt="">
      </div>
      <div class="col-xs-8">
        <h4>{{car.carpool.owner.name}} {{car.carpool.owner.lastname}}</h4>
        <p>{{car.carpool.owner.study.name}}</p>
        <p>From <strong>{{car.carpool.from.province.name}}</strong> to {{car.carpool.to.province.name}}</p>
        <button>Details</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="seat-p">Seat status:</h4>
        <img ng-repeat="p in car.carpool.joinedUsers" src="img/seat-gray-full.png" class="img-responsive seats" alt="">

        <img ng-repeat="i in car.seatsAvailable(car.carpool.seatsAvailable)" src="img/seat-green-full.png" class="img-responsive seats" alt="">
      </div>      
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 class="seat-p">Departure time: {{car.carpool.departureTime | date:'shortTime'}}</h4>
      </div>      
    </div>

    <div class="row text-center" ng-if="car.alreadyJoined">
      <button class="join" ng-click="car.join()">
        +join
      </button>
    </div>

    <div class="row">
      <div class="col-xs-12">
        Already joined:
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3" ng-repeat="p in car.carpool.joinedUsers" ui-sref="profile({userId: p._id})">
        <img src="{{p.image}}" class="img-responsive users" alt="">
        <p class="text-center">{{p.name}}</p>
      </div>
    </div>
    
  </div>
</div>


<menu user-id="car.userId"></menu>
