<header-bar title="'back'" route="register.route"></header-bar>

<div class="container register">

  <div class="row rides">
    <div class="col-xs-12">
      <p class="head text-center">Register</p>
    </div>
  </div>

  <div class="row form">
    <div class="col-xs-12">
      <p>Name:</p>
      <input type="text" ng-model="register.user.name">

      <p>Lastname:</p>
      <input type="text" ng-model="register.user.lastname">

      <p>Age:</p>
      <input type="number" ng-model="register.user.age">

      <p>City:</p>
      <div class="row">
        <div class="col-xs-6">
          <div class="select-style">
            <select name="province" ng-model="register.user.city.province"
              ng-change="register.getCantons(register.user.city.province)">
              <option ng-repeat="opt in register.allCities" value="{{$index+1}}">{{opt.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="select-style">
            <select name="district" ng-model="register.user.city.canton">
              <option ng-repeat="opt in register.allCantons" value="{{$index}}">{{opt.Nombre}}</option>
            </select>
          </div>
        </div>        
      </div>

      <p>Field of study:</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="select-style">
            <select name="study" ng-model="register.user.study">
              <option ng-repeat="opt in register.allStudies" value="{{opt._id}}">{{opt.name}}</option>
            </select>
          </div>
        </div>        
      </div>

      <p>Email:</p>
      <input type="email" ng-model="register.user.email">

      <p>Vehicle ID:</p>
      <input type="text" ng-model="register.user.vehicleId"> 

      <p>Whatsapp:</p>
      <input type="number" ng-model="register.user.whatsapp">   
      
      <div ng-if="!register.edit">
        <p>Password</p> 
        <input type="password" ng-model="register.user.password">
      </div>

      <!-- <div ng-if="!register.edit">
        <p>Photo</p> 
        <input type="file">
      </div> -->

      <div class="row" ng-if="!register.edit">
        <div class="col-xs-12">
          <button class="btn btn-green" ng-click="register.reg(register.user)">
            register
          </button>
        </div>
      </div> 

      <div class="row" ng-if="register.edit">
        <div class="col-xs-12">
          <button class="btn btn-green" ng-click="register.save(register.user)">
            save
          </button>
        </div>
      </div>  

    </div>
  </div>
  
</div>

