<div class="menu-icon" ng-click="menu.toggleMenu()" ng-class="{hidden: menu.showMenu}">
  <i class="fa fa-bars"></i>
</div>

<div class="menu" ng-class="{hidden: !menu.showMenu}">
  <div class="container">
  <div class="menu-icon" ng-click="menu.toggleMenu()">
    <i class="fa fa-times"></i>
  </div>
    <ul>
      <li><a ui-sref="profile">My profile</a></li>
      <li><a ui-sref="rides">My Rides</a></li>
      <li><a ui-sref="trips">Recent Trips</a></li>
      <li><a ui-sref="carpools">Carpools</a></li>
      <li><a ui-sref="settings">Settings</a></li>
      <li><a ui-sref="login">Logout</a></li>
    </ul>
  </div>
</div>
