.offer .head{
	margin: 0;
	padding:25px 0 20px;
	border-bottom: 1px solid #A5ADB4;
	font-weight: 300;
	font-size: 1.8rem;
	color: #A5ADB4;
}

.offer .btn-green {
	border: none;
	font-size: 1.5rem;
	color: #fff;
	font-family: 'Roboto';
	text-transform: uppercase;
	background-color: #b6d66e;
	border: 1px solid #a1ca4b;
	border-radius: 40px;
	width: 70%;
	margin-top: 40px;
} 