<header-bar title="'back'" route="offer.lastState"></header-bar>

<div class="container offer">

  <div class="row">
    <div class="col-xs-12">
      <p class="head text-center">Offering a new ride:</p>
    </div>
  </div>

  <div class="row form">
    <div class="col-xs-12">
      <p>From:</p>
      <div class="row">
        <div class="col-xs-6">
          <div class="select-style">
            <select name="province" ng-model="offer.ride.from.province"
              ng-change="offer.getCantons(offer.ride.from.province, 'from')">
              <option ng-repeat="opt in offer.allCities" value="{{$index+1}}">{{opt.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="select-style">
            <select name="district" ng-model="offer.ride.from.canton">
              <option ng-repeat="opt in offer.allCantonsFrom" value="{{$index}}">{{opt.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <h4>Details:</h4>
          <input type="text" ng-model="offer.ride.from.details">
        </div>        
      </div>

      <p>To:</p>
      <div class="row">
        <div class="col-xs-6">
          <div class="select-style">
            <select name="province" ng-model="offer.ride.to.province"
              ng-change="offer.getCantons(offer.ride.to.province, 'to')">
              <option ng-repeat="opt in offer.allCities" value="{{$index+1}}">{{opt.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="select-style">
            <select name="district" ng-model="offer.ride.to.canton">
              <option ng-repeat="opt in offer.allCantonsTo" value="{{$index}}">{{opt.Nombre}}</option>
            </select>
          </div>
        </div> 
        <div class="col-xs-12">
          <h4>Details:</h4>
          <input type="text" ng-model="offer.ride.to.details">
        </div>       
      </div>

      <div class="row">
        <div class="col-xs-6">
          <p>Seats available:</p>
          <input type="number" ng-model="offer.ride.seatsAvailable">
        </div>
        <div class="col-xs-6">
          <p>Departure time:</p>
          <input type="time" ng-model="offer.ride.departureTime">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p>Date:</p>
          <input type="date" ng-model="offer.ride.date">
        </div>
      </div>      

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-green" ng-click="offer.create(offer.ride)">
        Offer
      </button>
    </div>
  </div>
</div>
